* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! shared style */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(21, 14, 49);
}

span {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

button {
  font-size: 16px;
  padding: 14px 20px;
  font-weight: 600;
  border-style: none;
  border-radius: 50px;
  color: #ffffff;
  background: linear-gradient(
    30deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  transition: 0.3s;
}
/* main style */

body {
  color: #ffffff;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 200px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .bars {
  margin-right: 5px;
  display: none;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.menu ul {
  display: flex;
  color: #ffffff;
  list-style: none;
  gap: 32px;
}
.menu ul li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu ul li a:hover {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn-Subscribebutton i {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.btn-Subscribe button:hover {
  transform: translate(2px);
  box-shadow: 0px 6px 20px rgba(255, 51, 204, 0.5);
  filter: brightness(1.1);
}

/* hero-section */

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(images/hero-bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  position: relative;
  z-index: 1;
}
.mic-container {
  position: relative;
  height: 400px;
}

.mic-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 15px rgba(255, 0, 255, 0.3));
}

.mic-container .microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mic-container .badge-new {
  position: absolute;
  top: 90px;
  right: 100px;
  background: #00ff88;
  color: #080808;
  font-size: 11px;
  font-weight: 800;
  padding: 4px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 255, 162, 0.906);
}

.hero-title h1 {
  font-size: 60px;
}

.hero-title p {
  font-size: 16px;
  margin-top: 8px;
  color: rgb(198, 196, 196);
}

.cta-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.cta-button .btn-1 {
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  cursor: pointer;
  border: none;
  outline: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-1:hover {
  transform: translateY(3px);
  box-shadow: 0 5px 15px rgba(255, 61, 137, 0.4);
}

.btn-2 {
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;
  background: transparent;
  border: 2px solid #00d26a;
  color: #00d26a;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-2:hover {
  transform: translateY(3px);
  background-color: rgba(6, 187, 97, 0.1);
}

.btn-img {
  margin-right: 8px;
  position: relative;
}

/* about-section  */

.about-section {
  background-color: rgba(26, 11, 46, 1); 
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
  
}

.about-container{
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.intro-content h2 {
  font-size: 48px;
  margin-bottom: 16px;
  font-weight: bold;
}

.intro-content p {
  color: #b0a4c5; 
  line-height: 20px;
  max-width: 1100px;
  margin: 0 auto 15px auto;
}

.cta-text {
  margin-top: 30px !important;
  font-weight: 400;
}

.divider {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 60px 0;
  width: 100%;
}

.stats-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  gap: 30px;
}

.stat-number {
  display: block;
  font-size: 48px;
  font-weight: 800;
  color: #00ff9d; 
  margin-bottom: 10px;
}

.stat-label {
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #b0a4c5;
  text-transform: uppercase;
}










/*! Responsive section */
@media (max-width: 576px) {
  nav {
    padding: 16px 20px;
  }
  h1 {
    font-size: 36px;
  }
  .menu {
    display: none;
  }
  .btn-Subscribe button {
    display: none;
  }

  nav .bars {
    margin-right: 5px;
    display: inline;
  }
  /* Hero section */
  .hero {
    position: relative;
    top: -100px;
    background-size: 150% auto;
    background-position: center;
    min-height: auto;
    padding-top: 80px;
  }
  .mic-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mic-container .circle {
    width: 200px;
    height: 200px;
  }

  .mic-container .microphone {
    width: 60px;
    height: auto;
  }

  .mic-container .badge-new {
    top: 130px;
    right: 28%;
  }

  .hero-title {
    position: relative;
    top: -60px;
  }

  .cta-button {
    position: relative;
    top: -60px;
  }

  .hero-title h1 {
    font-size: 40px;
  }

  .hero-title p {
    font-size: 14px;
    padding: 0 80px;
    line-height: 1.5;
  }

  /* about-section */
  .about-section {
    padding: 40px 15px; 
}
.intro-content h2 {
    font-size: 32px;
  }

.intro-content p {
    font-size: 16px; 
  }

.divider {
    margin: 40px 0; 
  }
.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px 20px; 
  }
.stat-number {
    font-size: 40px; 
  }
  .stat-label {
    font-size: 16px; 
  }
}