* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! shared style */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(21, 13, 52);
}

span {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn button{
    font-size: 16px;
    padding: 14px 20px;
    font-weight: 600;
    border-style: none;
    border-radius: 50px;
    color: #ffffff;
    background: linear-gradient(
      30deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    );
    transition: 0.3s;
}
/* main style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 200px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  /* padding: 30px; */
}

.menu ul {
  display: flex;
  color: #ffffff;
  list-style: none;
  gap: 32px;
}
.menu ul li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu ul li a:hover {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

.btn button i {
  
width: 20px;
height: 20px;
    transition: transform 0.3s ease;
}

.btn button:hover {
 transform: translate(2px);
    box-shadow: 0px 6px 20px rgba(255, 51, 204, 0.5);
    filter: brightness(1.1);
}


