* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! shared style */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(21, 13, 52);
}

span {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

button {
  font-size: 16px;
  padding: 14px 20px;
  font-weight: 600;
  border-style: none;
  border-radius: 50px;
  color: #ffffff;
  background: linear-gradient(
    30deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  transition: 0.3s;
}
/* main style */

body {
  color: #ffffff;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 200px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .bars {
  margin-right: 5px;
  display: none;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.menu ul {
  display: flex;
  color: #ffffff;
  list-style: none;
  gap: 32px;
}
.menu ul li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu ul li a:hover {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn-Subscribebutton i {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.btn-Subscribe button:hover {
  transform: translate(2px);
  box-shadow: 0px 6px 20px rgba(255, 51, 204, 0.5);
  filter: brightness(1.1);
}

/* hero-section */

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  position: relative;
  z-index: 1;
}
.mic-container {
  position: relative;
  z-index: 2;
  height: 400px;
}

.mic-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 15px rgba(255, 0, 255, 0.3));
}

.mic-container .microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mic-container .badge-new {
  position: absolute;
  top: 90px;
  right: 100px;
  background: #00ff88;
  color: #080808;
  font-size: 11px;
  font-weight: 800;
  padding: 4px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 255, 162, 0.906);
}

.hero-title h1 {
  font-size: 60px;
}

.hero-title p {
  font-size: 16px;
  margin-top: 8px;
  color: rgb(198, 196, 196);
}

.cta-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.cta-button .btn-1{
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  cursor: pointer;
  border: none;
  outline: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-1:hover {
    transform: translateY(3px); 
    box-shadow: 0 5px 15px rgba(255, 61, 137, 0.4); 
}

.btn-2{
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;
  background: transparent; 
    border: 2px solid #00d26a; 
    color: #00d26a;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-2:hover {
    transform: translateY(3px); 
    background-color: rgba(6, 187, 97, 0.1); 
}

.btn-img {
  margin-right: 8px;
    
}













/*! Responsive section */
@media (max-width: 576px) {
  nav {
    padding: 16px 20px;
  }
  h1 {
    font-size: 36px;
  }
  .menu {
    display: none;
  }
  .btn-Subscribe button {
    display: none;
  }

  nav .bars {
    margin-right: 5px;
    display: inline;
  }
}
